body {
    padding-top: 60px;
    padding-bottom: 10px;
}

#loader {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #004479;
    opacity: 0.9;
    z-index: 2000;
}

#loader > p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
}

#loader > p > img {
    width: 200px;
}

.list-mps {
    height: 300px !important;
}

.controls {
    padding-top: 150px;
}

.controls > button {
    margin: 10px auto;
    display: block;
}

.save {
    padding-top: 10px;
    text-align: right;
}

#leaderboard .user:hover td {
	background-color: #D8EEFE;
	cursor: pointer;
}

#scoring dt {
	background-color: #cccccc;
}
#scoring dd {
	background-color: #eeeeee;
}
#scoring dd[data-type="speech"]:before {
        content: url('speech.png');
}
#scoring dd[data-type="absence"]:before {
        content: url('absence.png');
}
#scoring dd[data-type="vote"]:before {
        content: url('vote.png');
}

#details {
    display: none;
    margin-top: 150px;
}

#scoring .scoreName {
	padding-left: 15px;
	font-style: italic;
	padding-bottom: 5px;
}
#scoring .scoreValue {
	float: right;
	font-size: 140%;
	font-weight: bold;
	padding-right: 10px;
	padding-top: 3px;
}

#budget {
	font-weight: bold;
	font-size: 130%;
}

.container {
	margin-left: 0;
}

ul.comingsoon {
	font-size: 150%;
	list-style-type: none;
}

ul.comingsoon li:before {
    content:"\2713\0020";
    font-size: 140%;
    font-weight: bold;
    color: green;
}
