<!DOCTYPE html>
<html>
<head>
    <title>Fantasy Parliament</title>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/mps.css" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Fantasy Parliament</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Select cabinet</a></li>
            <li><a href="/leaderboard">Leaderboard</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
        <label for="email">Email</label>
        <input class="form-control" id="email" type="text" name="email" placeholder="you@example.com" />

        <div class="row">
        	<div class="col-xs-5">
				<div class="filters">
					<input type="text" placeholder="Name" class="form-control filter-name" /><br />
				</div>
				<div id="available-mps"></div>
			</div>
			<div class="col-xs-3">
				<div id="details">
                    <img class="mp-photo" />
                    <h2>
                        <span class="mp-details" data-detail="first_name"></span>
                        <span class="mp-details" data-detail="last_name"></span>
                    </h2>
                    <b>Party:</b> <span class="mp-details" data-detail="party"></span><br />
                    <b>Constituency:</b> <span class="mp-details" data-detail="constituency"></span><br />
                    <b>Date elected:</b> <span class="mp-details" data-detail="entered_house"></span>
                </div>			
	            <div class="col-xs-4 save">
					<button type="submit" class="btn btn-lg" id="save-mps">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
            </div>
			</div>
			<div class="col-xs-4">
				<h2>Your cabinet</h2>
				<p id="budget">£<span id="budgetleft">0</span> budget left</p>
				<p><span id="placesleft">0</span> cabinet place(s) remaining</p>
				<div id="selected-mps"></div>
				<div style="clear: both"></div>
			</div>
        </div>
    </div><!-- /.container -->

    <div id="loader"><p class="h4"><img src="static/loading.gif" /> &nbsp;Loading</p></div>

    <script type="text/template" id="mp_template">
        <div draggable="true" class="mp" data-name="<%= first_name %> <%= last_name %>" data-party="<%= party %>">
            <div><div class="mp-name"><%= first_name %> <%= last_name %></div></div>
            <div class="mp-photo"><img src="http://www.theyworkforyou.com<%= image %>" /></div>
        </div>
    </script>
    <script type="text/template" id="filter_template">
        <label><input checked type="checkbox" class="filter-party" value="<%= party %>"> <%= party %></label>
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="static/underscore.js"></script>
    <script src="static/mps.js"></script>
    <script src="static/twfyapi.js"></script>
    <script src="static/index.js"></script>
</body>
</html>
