<!DOCTYPE html>
<html>
<head>
    <title>Fantasy Parliament</title>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Fantasy Parliament</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Select cabinet</a></li>
            <li><a href="/leaderboard">Leaderboard</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
        <label for="email">Email</label>
        <input class="form-control" id="email" type="text" name="email" placeholder="you@example.com" />
        <div class="row">
            <div class="col-xs-4">
            	<h2>Available MPs</h2>
                <select class="list-mps form-control" id="available-mps" multiple>
                </select>
            </div>

            <div class="col-xs-4 controls">
                <button type="button" class="btn btn-lg" id="remove-mps">
                    <span class="glyphicon glyphicon-chevron-left"></span> Remove
                </button>
                <button type="button" class="btn btn-lg" id="add-mps">
                    <span class="glyphicon glyphicon-chevron-right"></span> Add
                </button>
            </div>

            <div class="col-xs-4">
	           	<h2>Your cabinet</h2>
                <select class="list-mps form-control" id="selected-mps" multiple>
                </select>
                <p><span id="mpcount">0</span> cabinet member(s)</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div id="details">
                    <img class="mp-photo" />
                    <h2>
                        <span class="mp-details" data-detail="first_name"></span>
                        <span class="mp-details" data-detail="last_name"></span>
                    </h2>
                    <b>Party:</b> <span class="mp-details" data-detail="party"></span><br />
                    <b>Constituency:</b> <span class="mp-details" data-detail="constituency"></span><br />
                    <b>Date elected:</b> <span class="mp-details" data-detail="entered_house"></span>
                </div>
            </div>

            <div class="col-xs-6 save">
                <button type="submit" class="btn btn-lg" id="save-mps">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
            </div>
        </div>

    </div><!-- /.container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="static/underscore.js"></script>
    <script src="static/mps.js"></script>
    <script src="static/twfyapi.js"></script>
    <script src="static/index.js"></script>
</body>
</html>
