<!DOCTYPE html>
<html>
<head>
    <title>Fantasy Parliament</title>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Fantasy Parliament</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Select cabinet</a></li>
            <li class="active"><a href="/leaderboard">Leaderboard</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
        <h1>Leaderboard</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Email address</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>0</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="static/underscore.js"></script>
    <script src="static/twfyapi.js"></script>
</body>
</html>
